* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#grid_wrapper{
    display: grid;
    height: 100vh;
    width: 100vh;
}

header {
   display: flex;
   background-color: rgb(49, 182, 49);
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: relative;
}

#div_header{
  position: absolute;
    display: flex;
    right: 30px;
    margin: 10px;
    margin-bottom: 0px;
}

.div_header_text{
    margin: 10px;
    color: black;
    cursor: pointer;
}

#titel{
    justify-content: center;
    align-items: center;
}

#hamburger_icon{
    height: 50px;
    width: auto;
    justify-content: flex-start;
    position: absolute;
    left: 0;
    cursor: pointer;
}

.bild_start{
    height: 200px;
    width: auto;
    border-radius: 3px;
    border: black;
}

#section_öppettider{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#div_öppettider{
    margin-top: 20px;
    margin-bottom: 10px;
}

.klick_texter{
    border: 3px solid black;
    border-radius: 3px;
    width: 100px;
    background-color: red;
    cursor: pointer;
    color: white;
}

.klick_texter:hover{
    background-color: rgb(210, 65, 65);
}

#entrance{
    height: 100%;
    width: auto;
}


.footer-content .socials {
    gap: 10px;
  }
  

footer {
    padding-block: 1rem;
    background: rgb(49, 182, 49);
    height: auto;
    width: auto;
    padding-top: 40px;
    color: rgb(10, 8, 8);
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
  }
  
  .footer-content p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
  }
  
  .footer-bottom {
    background: #000;
    width: 100vw;
    padding: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  
  .footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  .footer-bottom p a {
    color: #070909;
    font-size: 16px;
    text-decoration: none;
  }
  .footer-bottom {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
  }

om djuren

#grid_wrapper_om_djuren{
    display: grid;
    margin: 10px;
    justify-content: center;
}


#info_text_djur{
    display: grid;
    justify-content: center;
    text-align: center;
}

#våra_djur{
    font-size: 50px;
}

#section_ovan{
    display: flex;
    justify-content: center;
}

#section_undre{
  display: flex;
  justify-content: center;
}

.card_layouts{
    
}

.card_image{
  background-color: aqua;
  height: 150px;
  margin-bottom: 10px;
  background-size: cover;
}

.card{
    margin: 40px;
    height: 300px;
    width: 200px;
    font-size: smaller;
    border: 5px solid black;
}

#card_1{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/francesco-ZxNKxnR32Ng-unsplash.jpg');
}

#card_2{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/-lizards_-animals_-zoo_-istanbul_-turkey_-istanbulzoo_-tourism_\(14304639363\).jpeg');
}

#card_3{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/meerkats-zoo-animals-zoological-garden-preview.jpeg');
}

#card_4{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/orangutang.jpg');
}

#card_5{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/2019-07-24-04-30-37-550x413.jpeg');
}

#card_6{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/rs=w_365\,h_365\,cg_true.webp');
}

#card_7{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/becca-_r6w0R6SueQ-unsplash.jpg');
}

#card_8{
  background-image: url('/WU_projekt_ht22_zoo_2A/img/animals/ashes-sitoula-Tn09il6Doe4-unsplash.jpg');
}

.mer_info{
  justify-content: center;
  margin-left: 70px;
  font-size: larger;
  margin-top: 15px;
  border: 2px solid black;
  width: 60px;
  border-radius: 3px;
  cursor: pointer;
}

.mer_info:hover{
  background-color: rgb(224, 214, 214);
}

.byta_sida{
  text-decoration: double;
  color: #000;
}


restaurang

#grid_wrapper_restaurang{
display: grid;
margin: 10px;
justify-content: center;
}

#info_text_restaurang{
  display: grid;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
}

#annan_mat{
  display: flex;
  height: 50px;
  font-size: larger;
  justify-content: space-evenly;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}
.annan_mat:hover{
  text-decoration: underline;
}

.menu{
  font-size: 14px;
  margin-bottom: 50px;
}

.menu_group_heading{
  margin: 0;
  padding-bottom: 0,5em;
  border-bottom: 2px solid #ccc;
  margin-left: 14px;
  margin-right: 14px;
}

.menu_group{
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  padding: 1.5em 0;
}

.menu_item{
  display: flex;
}

.menu_item_image{
  width: 125px;
  height: 125px;
  flex-shrink: 0;
  object-fit: cover;
  margin-right: 1.5em;
  margin-left: 14px;
}

.manu_item_text{
  flex-grow: 1;
}

.menu_item_heading{
  display: flex;
  justify-content: space-between;
}

.menu_item_name{
  margin-right: 50px;
}

.menu_item_description{
  line-height: 1.5;
  width: 250px;
}

.menu_item_r{
  display: flex;
  margin-left: 425px;
}

.menu_group_2{
  display: flex;
  margin-top: 5px;
  margin-bottom: 1.5em;
}

.menu_item_r2{
  display: flex;
  margin-left: 413px;
}

.menu_group_3{
  display: flex;
  margin-top: 1.5em;
}



